@import "./palettes/darkPalette.css";
@import "./palettes/lightPalette.css";

:root {
  --color-alpha-white-1: hsl(0deg 0% 100% / 0%);
  --color-alpha-white-2: hsl(0deg 0% 100% / 1.3%);
  --color-alpha-white-3: hsl(0deg 0% 100% / 3.4%);
  --color-alpha-white-4: hsl(0deg 0% 100% / 5.6%);
  --color-alpha-white-5: hsl(0deg 0% 100% / 8.6%);
  --color-alpha-white-6: hsl(0deg 0% 100% / 12.4%);
  --color-alpha-white-7: hsl(0deg 0% 100% / 17.6%);
  --color-alpha-white-8: hsl(0deg 0% 100% / 24.9%);
  --color-alpha-white-9: hsl(0deg 0% 100% / 38.6%);
  --color-alpha-white-10: hsl(0deg 0% 100% / 44.6%);
  --color-alpha-white-11: hsl(0deg 0% 100% / 59.2%);
  --color-alpha-white-12: hsl(0deg 0% 100% / 92.3%);

  --color-alpha-black-1: hsl(0deg 0% 0% / 1.2%);
  --color-alpha-black-2: hsl(0deg 0% 0% / 2.7%);
  --color-alpha-black-3: hsl(0deg 0% 0% / 4.7%);
  --color-alpha-black-4: hsl(0deg 0% 0% / 7.1%);
  --color-alpha-black-5: hsl(0deg 0% 0% / 9%);
  --color-alpha-black-6: hsl(0deg 0% 0% / 11.4%);
  --color-alpha-black-7: hsl(0deg 0% 0% / 14.1%);
  --color-alpha-black-8: hsl(0deg 0% 0% / 22%);
  --color-alpha-black-9: hsl(0deg 0% 0% / 43.9%);
  --color-alpha-black-10: hsl(0deg 0% 0% / 47.8%);
  --color-alpha-black-11: hsl(0deg 0% 0% / 56.5%);
  --color-alpha-black-12: hsl(0deg 0% 0% / 91%);
}
